<li>
	<span class = "content"><%= comment.content %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(comment.created_at) %> ago in 
									<strong><%= comment.blog_post.title %></strong>.
	</span>
</li>