<% provide(:title, "Comments") %>
<h1>Comments</h1>
<p>name: <%= @comment.user.name %> <br>	email: <%=	@comment.user.email %></p>

<div class="span8">
	<h3>Content:</h3> 
	<p><%= @comment.content %></p>
</div>
