<li>
	<span class = "posts_list_title"><%= shorten_text post.content, 140 %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(post.created_at) %> ago in <strong><%= link_to post.topic.title, [post.topic.forum, post.topic] %></strong>.
	</span>
</li>