@import "bootstrap";

.navbar .nav > li > a:hover {
	color: #fff;
}

.nav li {
  color: #000;
}

#logo:hover {
  color: #000;
  text-decoration: none;
}

section {
	padding: 10px 0;
    border-top: 1px solid $grayLighter;
}

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.navbar-inner, .navbar-inner container, .navbar, #nav-main {
    opacity: 0.9; /* opacity [0-1] */
    -moz-opacity: 0.9; /* opacity [0-1] */
    -webkit-opacity: 0.9; /* opacity [0-1] */
}