<header class="navbar">
		<div class= "navbar">
				<div class="navbar-inner">
					<a class="brand" href="home" id = "logo">BlogApp</a>
					<ul class = "nav pull-right" >
						<li class = "toggle_active"><a href='home'>Home</a></li>
						<li class = "toggle_active"><a href="about">About</a></li>
						<li class = "toggle_active"><%= link_to "Sign Up", signup_path%></li>
					</ul>
				</div>
		</div>
</header>